<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开始使用 layui</title>
    <link rel="stylesheet" href="./layui/css/layui.css">
    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
            left: 0;
            top: 0;
            position: fixed;
        }
    </style>
</head>
<body>

<!-- 你的 HTML 代码 -->
<script src="./api.js"></script>
<script src="./layui/layui.js"></script>

<script>
third.test.test();
</script>
</body>
</html>


